.cart {
    &__container {
        background-color: #ca1210;
        border-radius: 5px;
    }

    &__button {
        padding: 5px 10px;
        display: flex;
        align-items: center;
    }

    &__image {
        width: 25px;
        margin-right: 10px;

        @media screen and (max-width: "520px") {
            width: 20px;
        }
    }

    &__cost {
        span {
            color: #fff;
        }
    }
}