.workTime {
    &__wrapper {
        padding: 90px 0;
        text-align: center;
    }

    &__title {
        padding-bottom: 40px;

        h3 {
            font-family: 'Instrument Serif';
            letter-spacing: 10px;
            font-size: 40px;
            color: #ca1111;
        }
    }

    &__days {
        display: flex;
        justify-content: space-between;
    }

    .workDay {
        &__title {
            padding-bottom: 10px;

            h5 {
                font-weight: 400;
                font-size: 20px;
            }
        }

        &__time span {
            font-weight: 800;
        }
    }
}