.header {
    &__wrapper {
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 100px;
        }
    }

    &__menu {
        display: flex;

        li {
            color: #fff;
            padding: 0 30px;
            font-size: 20px;
        }
    }
}