.header {
    &__wrapper {
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        a img {
            width: 100px;
        }
    }

    &__menu {
        display: flex;

        li {
            padding: 0 30px;

            a {
                color: #fff;
                font-size: 20px;
                transition: all 0.5s ease;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}