.footer {
    background-color: #ca1210;

    &__wrapper {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__contact {
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__nav {
        padding: 40px 0;
    }

    &__menu {
        display: flex;

        li a {
            color: #fff;
            padding: 0 30px;
            font-size: 20px;
        }
    }

    &__copyright {
        span {
            font-size: 13px;
            color: #ffffffe2;
            font-weight: 300;
        }
    }
}