.body-order {
    position: relative;
}

.order {
    &__wrapper {
        margin: 40px 0 90px 0;
    }

    &__inner {
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 60px;
    }

    &__title {
        padding-bottom: 40px;

        h3 {
            font-size: 30px;
        }
    }

    &__checkout {
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;

        &_hide {
            display: none;
        }
    }

    &__list-total {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;

        &-price span {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__proviso span>span {
        font-weight: 700;
    }

    &__list-total-title h3 {
        font-size: 25px;
    }

    &__subscription {
        margin: 0 auto;
        display: block;
        font-size: 24px;
        width: fit-content;
        font-weight: 700;
    }

    &__list-total-btn {
        max-width: 60%;
        margin: 0 auto;
    }
}