.body-constructor {
    position: relative;
}

.constructor {
    &__wrapper {
        padding: 40px 0 90px 0;
    }

    &__title {
        h3 {
            color: #fff;
            font-size: 30px;

            @media screen and (max-width: "360px") {
                font-size: 25px;
            }
        }
    }

    &__ingredients {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 90px;

        @media screen and (max-width: "560px") {
            gap: 40px;
        }

        @media screen and (max-width: "440px") {
            grid-template-columns: repeat(1, 1fr);
            gap: 60px;
        }

        &-heading {
            padding-bottom: 10px;
            width: fit-content;

            h5 {
                border-bottom: 1px solid #ffffff96;
                color: #fff;
                font-size: 25px;
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: #fff;
        padding: 10px 0;

        @media screen and (max-width: "830px") {
            grid-template-columns: 1fr fit-content(100%) fit-content(100%);
        }

        &-price {
            padding: 0 20px;
        }
    }

    &__size {
        margin-top: 30px;
        width: 30%;
        background-color: transparent;
        color: white;
        padding: 5px;

        @media screen and (max-width: "520px") {
            width: 40%;
        }

        @media screen and (max-width: "370px") {
            width: 100%;
        }
    }

    &__add {
        display: none;

        &_active {
            display: block;
        }

        &-btn {
            background-color: red;
            width: 20px;
            color: #fff;
        }
    }

    &__delete {
        display: none;

        &_active {
            display: block;
        }

        &-btn {
            background-color: red;
            width: 20px;
            color: #fff;
        }
    }

    &__content {
        padding-top: 60px;

        &-wrapper {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: "520px") {
                flex-direction: column;
                gap: 60px;
            }
        }

        &-inner {
            width: 100%;
        }

        &-title {
            h3 {
                color: #fff;
                font-size: 22px;

                @media screen and (max-width: "620px") {
                    font-size: 20px;
                }
            }
        }
    }

    &__total {
        max-width: 40%;
        width: 100%;

        @media screen and (max-width: "520px") {
            max-width: 100%;
        }

        &-price {
            color: #fff;
            font-weight: 700;
            padding-left: 10px;
            font-size: 20px;

            @media screen and (max-width: "620px") {
                font-size: 16px;
            }

            &-wrap {
                padding-bottom: 20px;
            }

            &-heading {
                color: #fff;
                font-size: 25px;

                @media screen and (max-width: "620px") {
                    font-size: 20px;
                }
            }
        }
    }

    &__cards {
        max-width: 50%;
        width: 100%;

        @media screen and (max-width: "740px") {
            max-width: 70%;
        }

        @media screen and (max-width: "520px") {
            max-width: 100%;
        }
    }
}