.body-constructor {
    position: relative;
}

.constructor {
    &__wrapper {
        padding: 40px 0 90px 0;
    }

    &__title {
        h3 {
            color: #fff;
            font-size: 30px;
        }
    }

    &__ingredients {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 90px;

        &-heading {
            padding-bottom: 10px;
            width: fit-content;

            h5 {
                border-bottom: 1px solid #ffffff96;
                color: #fff;
                font-size: 25px;
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: #fff;
        padding: 10px 0;

        &-price {
            padding: 0 20px;
        }
    }

    &__size {
        margin-top: 30px;
        width: 30%;
        background-color: transparent;
        color: white;
        padding: 5px;
    }

    &__add {
        display: none;

        &_active {
            display: block;
        }

        &-btn {
            background-color: red;
            width: 20px;
            color: #fff;
        }
    }

    &__delete {
        display: none;

        &_active {
            display: block;
        }

        &-btn {
            background-color: red;
            width: 20px;
            color: #fff;
        }
    }

    &__content {
        padding-top: 60px;

        &-title {
            h3 {
                color: #fff;
                font-size: 22px;
            }
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__cards,
    &__total {
        max-width: 40%;
        width: 100%;

        &-price {
            color: #fff;
            font-weight: 700;
            padding-left: 10px;
            font-size: 20px;
            
            &-wrap {
                padding: 20px 0;
            }

            &-heading {
                color: #fff;
                font-size: 25px;
            }
        }
    }

    .card {
        border-bottom: 1px solid #ffffff96;

        &__wrapper {
            padding: 30px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: start;
        }

        &__name {
            span {
                color: #fff;
                font-size: 20px;
                font-weight: 400;
            }
        }

        &__price {
            padding: 0;
            text-align: end;

            span {
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}