body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    height: 100vh;
}

.background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    &_dough {
        background-image: url('https://drive.google.com/uc?id=1On2kweOZcGR1yrDhc3jypTiyBETvkv8v') !important;

        &::before {
            background-color: rgba(57, 51, 51, 0.793);
        }
    }

    &_pizza {
        background-image: url('https://drive.google.com/uc?id=1igSBBqkVHklAupNSVlW5SzQkULcvdsAY') !important;

        &::before {
            background-color: rgba(10, 6, 6, 0.793);
        }
    }

    &_baking-pizza {
        background-image: url('https://drive.google.com/uc?id=13T-nB8NOluqCM0NQByVtDmQdtxy1e2Sf') !important;

        &::before {
            background-color: rgba(57, 51, 51, 0.793);
        }
    }

    &_dark {
        &::before {
            background-color: rgba(0, 0, 0, 0.881);
        }
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.btn {
    width: 140px;
    height: 40px;
    color: #fff;
    background-color: #9f2e2d;

    &_big {
        width: 100%;
    }

    &-link {
        a {
            background-color: #ca1210;
            padding: 10px 30px;
            display: inline-block;
            color: #fff;
            margin-top: 30px;
            text-transform: uppercase;
        }
    }
}